<!DOCTYPE html>
<html lang="en">
<head>
	<title>Aslan Aitkulov</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body>
<div class = "jumbotron">
<div class="container">
    <h1>Привет, вы на сайте Aslana</h1>
    {% block content %}

	{% endblock %}
    <p>Привет, вы на сайте Aslana</p>
  </div>
<img src="{% static "mainApp/image/aslan.jpg" %}" class="img-thumbnail">

</div>

</body>
</html>